{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <Label>Username</Label>
        <input type="text" name="username" placeholder="enter username">
        <Label>Password</Label>
        <input type="text" name="password" placeholder="enter password">
        <input type="submit" value="Login">
    </form>
    <p>Havent Signed Up yet?</p>
    <a href="{% url 'register'%}">Register</a>
</div>
{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>
    <p>Already have an account?</p>
    <a href="{% url 'login'%}">Login</a>
</div>
{% endif %}

{% endblock content %}